<div layout-fill>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <a href ui-sref="portal">
                    <span>EQEmu Server Manager</span>
                    <md-tooltip>Home</md-tooltip>
                </a>
            </h2>
            <span flex></span>
            <h2 class="disable-select">{{$ctrl.getUserName()}}</h2>
            <md-button ng-click="$ctrl.logout($event)" aria-label="logout" class="md-icon-button">
                <md-icon class="mdi mdi-logout-variant mdi-24px portal-toolbar-icon"></md-icon>
                <md-tooltip>Logout</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <portal-item-group group-title='Manage Server' group-icon='monitor'>
            <portal-item ui-sref="portal.server-status" item-name="Server Status" item-icon="$ctrl.serverStatusIcon"></portal-item>
            <portal-item ui-sref="portal.launcher-status" item-name="Launcher Status" item-icon="$ctrl.launcherStatusIcon"></portal-item>
            <portal-item ui-sref="portal.zone-status" item-name="Zone Status" item-icon="$ctrl.zoneStatusIcon"></portal-item>
            <portal-item ui-sref="portal.server-config" item-name="Configure" item-icon="$ctrl.configureIcon"></portal-item>
         </portal-item-group>
    </md-content>
</div>