<md-content>
     <portal-item-group group-title='Manage Server' group-icon='monitor'>
        <portal-item ui-sref="portal.server-status" item-name="Server Status" item-icon="$ctrl.serverStatusIcon"></portal-item>
        <portal-item ui-sref="portal.launcher-status" item-name="Launchers" item-icon="$ctrl.launcherStatusIcon"></portal-item>
        <portal-item ui-sref="portal.zone-status" item-name="Zones" item-icon="$ctrl.zoneStatusIcon"></portal-item>
        <portal-item ui-sref="portal.player-status" item-name="Players" item-icon="$ctrl.playerStatusIcon"></portal-item>
        <portal-item ui-sref="portal.server-config" item-name="Configure" item-icon="$ctrl.configureIcon"></portal-item>
     </portal-item-group>
</md-content>